//=============== COLORS ==============//
$mainBlue: #026AA7;
$white: #fff;
$black: #000;

/*=============== STYLES ==============*/

@import "_mixins"; //mixins and some function usually needed
@import "_reset";
@import "_updates";